*{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
.menu-container ul li a{
    color: white;
    text-decoration: none;
}

.menu-container ul li a:hover{
    color: grey;
    text-decoration: none;
}

.navbar{
    width: 100%;
    height: 50px;;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 12;
}
.logo{
    width: 79px;
    height: 44px;
}
.nav-container{
    display: flex;
    align-items: center;
    padding: 0 68px;
    height: 100%;
    color: white;
}
.logo-container{
    flex: 1;
    
}
.menu-container{
    flex: 6;
    
}
.menu-list{
    display: flex;
    list-style: none;
    padding:0 20px;
}
.menu-list-item{
    margin: 0 30px;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-txt-container{
    margin: 0 20px;
}
.profile-pic{
    width: 41px;
    height: 37px;
    border-radius:50%;
    object-fit: cover;

}
.sidebar {
    width: 59px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .container{
      background-color:#151515;
      min-height: calc(100vh - 40px);
      color: white;
  }

 .featured-content {
        height: 50vh;
        padding: 68px;
 }
 .featured-title {
    width: 200px;
    height: 199px;

  }
  .featured-desc{
      width: 500px;
      color: lightgray;
      margin: 21px 0;
  }
  .featured-button{
      background-color: rgb(224, 72, 72);
      color: white;
      padding: 10px 20px;
      border: none;
      outline: none;
      font-weight: bold;
      cursor: pointer;
  }
  .featured-button:hover{
    background-color: rgb(31, 4, 4);
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
  .movie-list-container{
      padding:0px 60px;
  }
  .movie-list-wrapper{
      position:relative;
      overflow: hidden;
  }
  .movie-list{
      display: flex;
      align-items: center;
      height:345px;
      transform: translateX(0);
      transition: all 1s ease-in-out;
  }
  .movie-list-item {
    margin-right: 40px;
    position: relative;
  }
  .movie-list-item-img{
    width: 188px;
    height: 252px;
    border-radius:10px;
    border-top: 10px;
    object-fit: cover;
    transition: all 1s ease-in-out;
  }
  .movie-list-item:hover .movie-list-item-img{
      transform:scale(1.2);
      margin: 0 30px;
      opacity: 0.3;
  }
  .movie-list-item-title{
      color:rgb(255, 255, 255);
      background-color:transparent;
      padding-right: 10px;
      font-size:20px;
      position:absolute;
      top:40%;
      left:18px;
      font-weight: bold;
      opacity: 0;
      transition: all 1s ease-in-out;
      
  }

  .movie-list-item-desc{
    color:rgb(255, 255, 255);
    background-color:transparent;
    padding-right: 10px;
    font-size:14px;
    position:absolute;
    top:50%;
    left:18px;
    opacity: 0;
    transition: all 1s ease-in-out;
    
    
}

.movie-list-item-button{
    background-color: rgb(224, 72, 72);
    color: white;
    padding: 6px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    top:73%;
    left:18px;
    border-radius:4px;
    opacity: 0;
    
    
}
.movie-list-item-button:hover{
    background-color: rgb(31, 4, 4);
    color: white;
    padding: 6px 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    position:absolute;
    top:73%;
    left:18px;
    border-radius:4px;
    
}


.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity:1;
}
      